body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}
.box {
    border: 1px solid;
    padding: 20px;
    box-sizing: border-box;
}
.box1 {
    width: 100%;
    border-color: orange;
    height: 90px;
}
.main-content {
    display: flex;
    width: 100%;
    gap: 50px;
}
.box3 {
    width: 70%;
    border-color: purple;
}
.side-content {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
}
.box2, .box4, .box5 {
    border-color: yellow;
}
.box6 {
    width: 100%;
    border-color: blue;
    height: 80px;
}